.team {
  padding: 72px 20px 50px;
}

.description {
  text-align: center;
  color: var(--black);
}

.description h2 {
  margin: 16px 0 24px;
}

.teamGallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  text-align: center;
  margin-top: 60px;
}

.itemImg {
  position: relative;
  overflow: hidden;
}

.itemImg img {
  display: block;
  width: 100%;
  height: auto;
  transition: filter 0.3s, transform 0.3s;
}

.itemHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemHover:hover,
.itemHover:focus {
  opacity: 0.8;
}

.itemHover .socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemHover .socialLink {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  transition: opacity 0.3s;
  opacity: 1;
}

.itemHover .socialLink:hover,
.itemHover .socialLink:focus {
  opacity: 0.8;
}

.itemHover:hover + .itemImg img,
.itemHover:focus + .itemImg img {
  filter: brightness(60%);
  transform: scale(1.05);
  transition: all 0.3s;
}

.itemImg {
  cursor: pointer;
  transition: all 0.3s;
}

.fullname {
  margin: 16px 0 8px;
}

.itemImg:hover,
.itemImg:focus {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
  transform: scale(1.05);
  z-index: 2;
}

