.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 200px 0;
  background-image: var(--linear-grad), url(./images/showcase.webp);
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .heroSection {
    background-image: var(--linear-grad), url(./images/showcase@2x.webp);
  }
}

.heroSection h1 {
  padding: 0px 40px;
}

.heroSection h3 {
  margin: 16px 0px 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heroSection {
    padding: 400px 0;
  }

  .heroSection h3 {
    padding: 0 150px;
  }
}

@media screen and (min-width: 1360px) {
  .heroSection {
    padding: 275px 0;
  }
}

@media screen and (min-width: 1824px) {
  .heroSection {
    padding: 15vh 0;
  }
}

@media screen and (min-width: 2560px) {
  .heroSection {
    padding: 23vh 0;
  }
}
