.navList {
  display: flex;
  gap: 12px;
}

.navItem {
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid transparent;
  transition: border 0.3s;
  will-change: border-bottom;
  cursor: pointer;
}

.navItem:hover,
.navItem:focus {
  border-bottom: 1px solid var(--light-green);
}

@media screen and (min-width: 768px) {
  .navList {
    gap: 20px;
  }

  .navItem {
    font-size: 18px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1360px) {
  .navList {
    gap: 40px;
  }
}
