.aboutSection {
  display: grid;
  grid-template-columns: 1fr;
}

.aboutBg {
  padding: 110px 0;
  background-size: cover;
  background-position: center;
  background-image: url(./images/people.webp);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .aboutBg {
    background-image: url(./images/people@2x.webp);
  }
}

.aboutDesc {
  padding: 79px 20px;
  background-color: var(--green);
}

.aboutDesc h2 {
  margin-top: 16px;
}

.text {
  margin: 24px 0;
}

@media screen and (min-width: 768px) {
  .aboutSection {
    grid-template-columns: 1fr 1fr;
  }

  .aboutDesc {
    padding: 62px 32px;
  }
}

@media screen and (min-width: 1360px) {
  .aboutDesc {
    padding: 80px 20px;
  }
}

@media screen and (min-width: 1824px) {
  .aboutDesc {
    padding: 10vw 20px;
  }
}
