.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: left;
  align-content: center;
  gap: 16px;
  padding: 22px;
  margin-top: auto;
}

.headerLogo {
  display: grid;
  grid-template-columns: 40px 1fr 1fr;
  gap: 8px;
  align-items: center;
  font-size: 28px;
  line-height: 38px;
  transition: transform 750ms, filter 750ms;
  will-change: transform, filter;
  cursor: pointer;
}

.headerLogo:hover,
.headerLogo:focus {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.headerLogo span {
  color: var(--green);
}

.fixed {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 768px) {
  .header {
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .headerLogo {
    font-size: 35px;
    line-height: 48px;
  }
}