.contactSection {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--light-grey);
}

.contactBg {
  padding: 110px 0;
  background-size: cover;
  background-position: center;
  background-image: url(./images/contact.webp);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .aboutBg {
    background-image: url(./images/contact@2x.webp);
  }
}

.wrapper {
  padding: 51px 20px 25px;
}

.wrapper h2 {
  color: var(--black);
}

.contactForm {
  margin-top: 69px;
}

@media screen and (min-width: 768px) {
  .contactSection {
    grid-template-columns: 1fr 1fr;
  }

  .wrapper {
    padding: 32px;
  }
}

@media screen and (min-width: 1360px) {
  .wrapper {
    padding: 56px 28px 77px 20px;
  }
}

@media screen and (min-width: 1824px) {
  .wrapper {
    padding: 7.5vw 2vw 9vw 20px;
  }
}
