.footer {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  background-color: var(--black);
  align-items: center;
  gap: 12px;
  margin-top: auto;
}

.socials {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.socialLink {
  width: 35px;
  height: 35px;
  padding: 2px;
}

.socialLink:hover .socialIcon,
.socialLink:focus .socialIcon {
  fill: var(--green);
  transition: all 0.3s;
}
